# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store

# Ignore local environment files (but document them in .env.example)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Amplify files
amplify/#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources

# Retain these Amplify configuration files
!amplify/backend/amplify-meta.json
!amplify/backend/**  # Include necessary backend files
!aws-exports.js
!amplifyconfiguration.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Amplify tools
amplifytools.xcconfig

# Temporary files and hidden files
.secret-*
**.sample
