.auth-container {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  color: #282c34;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #21a1f1;
}

.app-content {
  display: flex;
  height: calc(100vh - 70px); /* Adjust height based on header */
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar h2 {
  margin-top: 0;
}

.map-container {
  margin-left: 0px;
  width: 100%;
  height: 100%;
  position: relative; /* Set relative positioning for the fire-trends placement */
}

.fire-trends {
  position: absolute; /* Position within the map-container */
  top: 20px; /* Distance from the top of the map-container */
  right: 20px; /* Distance from the right edge of the map-container */
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000; /* Ensure it appears above the map */
}

.fire-trends h2 {
  margin: 0 0 10px;
}

.fire-trends p {
  margin: 5px 0;
}

.dashboard-box {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.dashboard-box h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.dashboard-box p {
  margin: 5px 0;
}

.dashboard-box ul {
  margin: 0;
  padding-left: 20px;
}
