.auth-container {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  color: #282c34;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #21a1f1;
}

.app-content {
  display: flex;
  height: calc(100vh - 70px); /* Adjust height based on header */
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar h2 {
  margin-top: 0;
}

.map-container {
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100%;
}